doctype
html( lang = "en" )
		include ./head.jade
		div.container
			div.col-md-3
				h3 Welcome 
					a(href = "/user/" + req.user.username) #{name}
			div.col-lg-6
				.well.well-lg
					form(action = "/addevent", method = "post", enctype="multipart/form")
						.form-group
							input(name="artist" type="text" placeholder="Artist Name")
						.form-group
							input(name="location" type="text" placeholder="Venue Location")
						.form-group
							input(name="date" type="date")
						.form-group
							input(multiple="multiple", name="upload", type="file")
						input.submit(id = "submitButton", type ="submit", value="Create Event")
				ul.media-list
					each event in feed
						li.media
							.media-left.media-middle
								a(href = "/event/#{event.id}")
									img.media-object(src = event.image)
							.media-body
								h4.media-heading =event.title
								span.text-muted =event.location